<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>TSE Tools | Paradox</title>

  <!-- JSON5 library for JSON parsing-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/json5/2.2.1/index.min.js"></script>
  <!-- Monaco Setup (must come after loader.js) -->
  <script src="{{ url_for('static', filename='common/monaco-setup.js') }}"></script>
  <!-- FontAwesome icon library-->
  <script src="https://kit.fontawesome.com/f89168b549.js"></script>

  <!-- Styles -->
  {% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oit/style.css') }}" />
  {% endblock %}
</head>

<body>
  <div class="main-box">
    <!-- Sidebar Toggle -->
    <input type="checkbox" id="check" />

    <!-- Hamburger Button -->
    <div class="btn-one">
      <label for="check"><i class="fas fa-bars"></i></label>
    </div>

    <!-- Sidebar Menu -->
    <div class="sidebar-menu">
      <!-- Logo -->
      <div class="logo">
        <a>TSE Tools</a>
      </div>

      <!-- Close Button -->
      <div class="btn-two">
        <label for="check"><i class="fas fa-times"></i></label>
      </div>

      <!-- Navigation Menu -->
      <ul class="menu">
        <!-- Formatters -->
        <li>
          <div class="menu-item">
            <input type="checkbox" id="dropdown-check" hidden />
            <label for="dropdown-check" class="dropdown-label">
              <div class="menu-header">
                <i class="fas fa-tools menu-heading"></i>
                <span>Formatters</span>
                <i class="fa-solid fa-chevron-right dropdown-icon"></i>
              </div>
            </label>
            <ul class="sub-menu">
              <li class="sub-heading">
                <a href="{{ url_for('open_interview_times') }}">
                  <span class="sub-heading-text">Open Interview Times</span>
                </a>
              </li>
              <li class="sub-heading">
                <a href="{{ url_for('comma_separated_list') }}">
                  <span class="sub-heading-text">Comma Separated List</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Validators -->
        <li>
          <div class="menu-item">
            <input type="checkbox" id="dropdown-check2" hidden />
            <label for="dropdown-check2" class="dropdown-label">
              <div class="menu-header">
                <i class="fas fa-check-circle menu-heading"></i>
                <span>Validators</span>
              </div>
            </label>
            <ul class="sub-menu">
              <li><a href="#">Validator 1</a></li>
            </ul>
          </div>
        </li>

        <!-- Converters -->
        <li>
          <div class="menu-item">
            <input type="checkbox" id="dropdown-check3" hidden />
            <label for="dropdown-check3" class="dropdown-label">
              <div class="menu-header">
                <i class="fas fa-exchange-alt menu-heading"></i>
                <span>Converters</span>
              </div>
            </label>
            <ul class="sub-menu">
              <li><a href="#">Converter 1</a></li>
            </ul>
          </div>
        </li>

        <!-- Encoders -->
        <li>
          <div class="menu-item">
            <input type="checkbox" id="dropdown-check4" hidden />
            <label for="dropdown-check4" class="dropdown-label">
              <div class="menu-header">
                <i class="fas fa-lock menu-heading"></i>
                <span>Encoders</span>
              </div>
            </label>
            <ul class="sub-menu">
              <li><a href="#">Encoder 1</a></li>
            </ul>
          </div>
        </li>

        <!-- Beautifiers -->
        <li>
          <div class="menu-item">
            <input type="checkbox" id="dropdown-check5" hidden />
            <label for="dropdown-check5" class="dropdown-label">
              <div class="menu-header">
                <i class="fas fa-paint-brush menu-heading"></i>
                <span>Beautifiers</span>
              </div>
            </label>
            <ul class="sub-menu">
              <li><a href="#">Beautifier 1</a></li>
            </ul>
          </div>
        </li>

        <!-- Escapers -->
        <li>
          <div class="menu-item">
            <input type="checkbox" id="dropdown-check6" hidden />
            <label for="dropdown-check6" class="dropdown-label">
              <div class="menu-header">
                <i class="fas fa-quote-left menu-heading"></i>
                <span>Escapers</span>
              </div>
            </label>
            <ul class="sub-menu">
              <li><a href="#">Escaper 1</a></li>
            </ul>
          </div>
        </li>
      </ul>

      <!-- Social Media -->
      <div class="social-media">
        <ul>
          <li><a href="https://www.facebook.com/paradoxolivia"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/ParadoxOlivia"><i class="fab fa-x-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/paradoxolivia"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/paradoxolivia"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://vimeo.com/paradoxai"><i class="fab fa-vimeo-v"></i></a></li>
          <li><a href="https://www.youtube.com/@paradoxolivia"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Hero Section -->
    <header class="hero">
      <div class="hero-content">
        <h1>{% block heading %}Tool Title{% endblock %}</h1>
        <p>{% block description %}Short description about the tool{% endblock %}</p>
      </div>
    </header>

    <!-- Text Container -->
    <div class="text-container">
      <!-- Input Area -->
      <div class="input-area">
        <div id="input-text" class="editor-container"></div>
        <div class="labelline">Copy-paste your text here</div>
      </div>

      <!-- Generate Button -->
      <div class="generate-btn-box">
        <button id="generate-btn">
          <div class="btn-content" data-text="Generate" data-hover="Punch it!"></div>
        </button>
      </div>

      <!-- Output Area -->
      <div class="output-area">
        <div id="output-text" class="editor-container"></div>
        <div class="labelline">Open Interview Times (OITs) in UTC</div>
      </div>
    </div>

    <!-- Info Button -->
    <div id="info-button">
      <i class="fas fa-info-circle"></i>
    </div>

    <!-- Info Modal -->
    <div id="info-modal" class="info-modal">
      <div class="info-modal-content">
        <label class="close"><i class="fas fa-times"></i></label>
        {% block modal_content %}{% endblock %}
      </div>
    </div>
  </div>

  <!-- Scripts -->
  {% block scripts %}{% endblock %}
</body>

</html>